In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
myyear = 2021
mymonth = 10
myday = 30
myhour = 15
mymin = 35
mysec = 3

In [4]:
mydate = datetime(myyear, mymonth, myday)

In [5]:
mydate

datetime.datetime(2021, 10, 30, 0, 0)

In [9]:
mydatetime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)

In [10]:
mydatetime

datetime.datetime(2021, 10, 30, 15, 35, 3)

In [11]:
mydatetime.year

2021

In [12]:
myser = pd.Series(['Nov 3, 1990', '2000-01-01', None])

In [13]:
myser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [16]:
timeser = pd.to_datetime(myser)

In [17]:
timeser

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [18]:
timeser[0].year

1990

In [20]:
timeser[1].year

2000

In [21]:
euro_date = '31-12-2000'

In [22]:
pd.to_datetime(euro_date)

Timestamp('2000-12-31 00:00:00')

In [23]:
euro_date = '10-12-2000'

In [24]:
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [25]:
style_date = '12--Dec--2000'

In [26]:
pd.to_datetime(style_date, format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [28]:
custom_date = "12th of Dec 2000"

In [29]:
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [45]:
data = pd.read_csv('datasets/RSXFS.csv',parse_dates=[0])

In [46]:
#data['DATE'] = pd.to_datetime(data['DATE'])

In [47]:
data['DATE'][0].day

1

In [51]:
data = data.set_index('DATE')

In [54]:
data.resample(rule='A').mean()

                    RSXFS
DATE
1992-12-31  150410.750000
1993-12-31  161358.666667
1994-12-31  175271.666667
1995-12-31  185017.833333
1996-12-31  196312.166667
1997-12-31  205897.666667
1998-12-31  215221.000000
1999-12-31  233451.333333
2000-12-31  248282.083333
2001-12-31  255179.416667
2002-12-31  260801.416667
2003-12-31  271801.166667
2004-12-31  288407.000000
2005-12-31  307215.000000
2006-12-31  323046.750000
2007-12-31  333113.000000
2008-12-31  327303.000000
2009-12-31  301082.333333
2010-12-31  318046.500000
2011-12-31  341832.500000
2012-12-31  358086.333333
2013-12-31  371632.166667
2014-12-31  386376.166667
2015-12-31  393675.333333
2016-12-31  402714.666667
2017-12-31  420494.583333
2018-12-31  438027.666667
2019-12-31  450971.833333
2020-12-31  464984.583333
2021-12-31  544089.000000